*{
    /* background-color: grey ; */
}

body{
    padding: 0rem 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    /* border: 1px solid black; */
    height: fit-content;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 24px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

/* Inside body*/
.filter-btn{
    padding: 10px;
    cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 15px;
}

.res-card{
    padding: 5px;
    width: 250px;
    height: 450px;
}

.res-card:hover{
    transform: scale(1.05);
    transition: 0.9s;
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
}

/* Shimmer */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 15px;
}
.shimmer-card{
    padding: 5px;
    width: 250px;
    height: 450px;
    background-color: #f0f0f0;
}